* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7d1414;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #0c0c0c;
    /* align-items: baseline; */
    height: 15%;
  }
  .head-title {
    font-family: Lato;
    margin: 1%;
    color: #eee2dc;
    background-color: transparent;
  }
  .head-btn {
    width: 100px;
    height: 2.5rem;
    margin: 1%;
    background-color: #eee2dc;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .card-body {
    text-align: center;
    color: rgb(255, 251, 0);
  }
  .card-img-top {
    width: 100%;
  }
  .users-space {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  .main {
    border: 2px solid #ffffff;
  }